body {
    padding-top: 80px;
}

.navbar-dark {
  background-color: #006dcc;
  border-color: #0044cc;
}
.navbar-dark .navbar-brand {
  color: #ffffff;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: #e9e9e9;
}
.navbar-dark .navbar-text {
  color: #ffffff;
}
.navbar-dark .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
  color: #0044cc;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  color: #e9e9e9;
  background-color: #0044cc;
}
.navbar-dark .navbar-nav > .open > a,
.navbar-dark .navbar-nav > .open > a:hover,
.navbar-dark .navbar-nav > .open > a:focus {
  color: #e9e9e9;
  background-color: #0044cc;
}
.navbar-dark .navbar-toggle {
  border-color: #0044cc;
}
.navbar-dark .navbar-toggle:hover,
.navbar-dark .navbar-toggle:focus {
  background-color: #0044cc;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-dark .navbar-collapse,
.navbar-dark .navbar-form {
  border-color: #ffffff;
}
.navbar-dark .navbar-link {
  color: #ffffff;
}
.navbar-dark .navbar-link:hover {
  color: #e9e9e9;
}

@media (max-width: 767px) {
  .navbar-dark .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-dark .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-dark .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e9e9e9;
  }
  .navbar-dark .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-dark .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-dark .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e9e9e9;
    background-color: #0044cc;
  }
}

.well {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  /*word-break: break-word;*/

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

#users .well {
    color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	*background-color: #0044cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


hr {
	color: black;
	border-color: black;
	background-color: black
}

.navbar {
    z-index: 9999;
}