<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alexey Tkachov">
    <link rel="icon" href="../../favicon.ico">

    <title>Tornado Shell Commands Runner</title>

    {% include "stylesheets.html" %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include "navbar.html" %}


    {% if current_user %}
        <div id="content">{% block body %}{% end %}</div>
    {% end %}

    {% include "javascripts.html" %}

  </body>
</html>
