{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div id="userscount ">
                {% module Template("userscount.html", userscount=userscount) %}
            </div>
        </div>
    </div>
</div>

<div class="footer navbar-fixed-bottom">
    <div class="container">
        <div id="body">
            <div id="inbox">
                {% for message in messages %}
                {% module Template("message.html", message=message) %}
                {% end %}
            </div>
            <div id="input">
                <form action="/a/message/new" method="post" id="messageform" >
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="body" id="message" class="form-control" placeholder="write command here" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default" id="MyPost">{{ _("Send") }}</button>
                            </span>
                        </div>
                        <input type="hidden" name="next" value="{{ request.path }}">
                        {% module xsrf_form_html() %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% end %}

