<div class="message" id="m{{ message["id"] }}">
    <b>{{ message["from"] }}  ({{ message["now"] }}): </b>
    <div class="well well-sm"><b>Command:</b> <br>
        {% module linkify(message["body"]) %}<br>
        <hr>
        <b>Output:</b><br>
        {% for line in message["response"] %}
        {{ line }}<br>
        {% end %}
    </div>
</div>
