<!-- Fixed navbar -->
<nav class="navbar navbar-dark navbar-fixed-top bg-primary">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onclick="return false;" href="javascript:void(0)">Tornado Shell Commands Runner</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user %}
        <li><a href="#">{{ current_user["name"] }}</a></li>
        <li><a href="/auth/logout">{{ _("Sign out") }}</a></li>
        {% end %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>